@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Inter;
  font-size: 16px;
}

.container{
  max-width: 550px;
  min-height: 704px;
  /* max-width: 100vw; */
  
  /* border: 1px solid #212121; */
  margin: auto;
}


.header-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #F55A5A;
  color: #fff;
  font-size: 17.5px;
}

.header-wrapper p{
  padding-left: 7px;
}

.card-container{
  margin-top:2.813rem;
  margin-left:2.4rem ;
  margin-right: 2.4rem ;
  /* border: 1px solid #e5e5e5; */

}

.card{
  width: 470px;
  height: 196px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
}

.card:first-child{
  padding-top: 0;
}

.card:last-child{
  border: none;
}
.img-container{
  height: 100%;
}

.img-container img{
  height: 100%;
  border-radius: 10px;
  width: 125px;
  object-fit: cover;
}

.travel-details{
  padding-left:19px;
  padding-top: 16px;
}

.travel-details-country{
  display: flex;
  align-items: center;
  
}

.top-country{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10.24px; 
  letter-spacing: 0.17em;
  color: #2B283A;
  display: flex;
  align-items: center;
}

.map-ins{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  text-decoration-line: underline;
  margin-left: 12px;
  color: #918E9B;
}

.location-img{
  color: #F55A5A;
  font-size: small;
}

.card-location{
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
}

.card-date{
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  margin-top: 14px;
}

.card-description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  color: #2B283A;
  width: 326px;
  height: 45px;
  margin-top: 9px;
}